.row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  justify-content: center;
}

.video-responsive > iframe {
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 16 / 9;
}

@media (max-width: 768px) {
  .video-responsive > iframe {
    width: 100%;
  }
}
